<section id="todos">
  <header>
    <h2><%= @list[:name] %></h2>
    <ul>
      <li><a class="delete" href="/lists/<%= @list_index %>/delete">Delete</a></li>
    </ul>
  </header>
</section>

<form action="/lists/<%= params[:list_index] %>/edit" method="post">
  <dl>
    <dt>
      <label for="list_name">Enter a new name for this list:</label>
    </dt>
    <dd>
      <input name="list_name" placeholder="List Name" type="text" value="<%= params[:list_name] || @list[:name] %>">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/lists">Cancel</a>
  </fieldset>
</form>

<% content_for :header_links do %>
  <a class="list" class=href="/lists">All lists</a>
<% end %>