<ul id="lists">
  <% @lists.each_with_index do |list, index| %>
    <% if all_completed?(list) %>
      <li class="complete">
    <% else %>
      <li>
    <% end %>
        <h2><a href="/lists/<%= index %>"><%= list[:name] %></a></h2>
        <p><%= completion_progress(list) %></p>
    </li>
  <% end %>
</ul>

<% content_for :header_links do %>
  <a class="add" href="/lists/new">New list</a>
<% end %>