<ul id="lists">
  <% sort_lists(@lists) do |list| %>
    <li class="<%= list_class(list) %>">
        <h2><a href="/lists/<%= list[:id] %>"><%= list[:name] %></a></h2>
        <p><%= completion_progress(list) %></p>
    </li>
  <% end %>
</ul>

<% content_for :header_links do %>
  <a class="add" href="/lists/new">New list</a>
<% end %>