<ul id="lists">
  <% @lists.each_with_index do |list, index| %>
    <li class="<%= list_class(list) %>">
        <h2><a href="/lists/<%= index %>"><%= list[:name] %></a></h2>
        <p><%= completion_progress(list) %></p>
    </li>
  <% end %>
</ul>

<% content_for :header_links do %>
  <a class="add" href="/lists/new">New list</a>
<% end %>