<form action="/lists/new" method="post">
  <dl>
    <dt>
      <label for="list_name">Enter the name for your new list:</label>
    </dt>
    <dd>
      <input name="list_name" placeholder="List Name" type="text" value="">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/lists">Cancel</a>
  </fieldset>
</form>

<% content_for :header_links do %>
  <a class="list" class=href="/lists">All lists</a>
<% end %>